@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../font/OpenSans-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

ul {
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  text-indent: -9999px;
}

.application {
  background-color: #3c3366;
  margin: 0 auto;
  overflow: auto;
  width: 100%;
}

header {
  margin: 0 auto;
  overflow: auto;
  text-align: center;
}

.landing-page {
  color: white;
  text-shadow: .1em .1em black;
}

.landing-page .product-description {
  background: url('../src/img/landing-header-bg.png') no-repeat top left;
  height: 500px;
  margin: 0 auto;
  width: 980px;
}

.landing-page .product-description header{
  width: 50%;
}

.landing-page .product-description header .ir {
  background: url('../src/img/logo.png') no-repeat top left;
  height: 180px;
  width: 321px;
  margin: 0 auto 4em auto;
}

.book-shelf {
  background: url('../src/img/bookshelf-bg.png') repeat-x top left;
  min-height: 20em;
}

.book-shelf header .ir {
  background: url('../src/img/bookshelf-header-bg.png') no-repeat top left;
  height: 90px;
  width: 138px;
  margin: 0 auto 1em auto;
}

.landing-page .ir {
  text-indent: -9999px;
}


.landing-page ul {
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  text-align: center;
}

.shelf-book {
  background: white url("../src/img/book-cover-p.png") no-repeat top left;
  cursor: pointer;
  display: inline-block;
  height: 254px;
  list-style: none;
  margin: 1em;
  overflow: auto;
  position: relative;
  width: 195px;
}

.shelf-book .cover-content {
  position: absolute;
  margin: 8px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.shelf-book .book-title {
  padding: 0 8px;
  position: relative;
}

.shelf-book .cover-content .cover-illustration {
  background: none no-repeat bottom center;
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.landing-page footer {
  text-align: center;
  margin: 0 auto;
  width: 980px;
}

.landing-page footer p {
  margin: .3em;
}

.landing-page footer .bravi-logo{
  background: url('../src/img/bravi-logo.png') no-repeat top center;
  height: 3.2em;
}

.video-button {
  background: url('../src/img/video-blue-bt.png') no-repeat top center;
  cursor: pointer;
  height: 40px;
  margin: 0 auto;
  width: 40px;
}

.storyteller {
  overflow: auto;
  position: relative;
}

.storyteller header {
  position: relative;
}

.storyteller h1 {
  color: white;
  margin-bottom: 0.3em;
}

.storyteller .home-button {
  background: url('../src/img/home-button.png') no-repeat left top;
  height: 35px;
  left: 50%;
  margin-left: -33em;
  position: absolute;
  top: 50%;
  width: 35px;
}

.book-table {
  background: url('../src/img/book-section-bg.png') repeat-x left top;
  position: relative;
  height: 100%;
}

.book-table .book-pages-nav {
  left: 50%;
  height: 35px;
  margin-top: -17px;
  margin-left: -33em;
  position: absolute;
  top: 50%;
  width: 66em;
}

.book-table .book-pages-nav button{
  background: url('../src/img/next-page-bt.png') no-repeat left top;
  height: 100%;
  width: 35px;
}

.book-table .book-pages-nav button:disabled {
  cursor: auto;
  opacity: .5;
}

.book-table .book-pages-nav .prev-page {
  background: url('../src/img/prev-page-bt.png') no-repeat left top;
  float: left;
}

.book-table .book-pages-nav .next-page {
  float: right;
}

.book-container {
  height: 39em;
  margin: 2em auto 0 auto;
  width: 56em;
}

.book-view {
  background: url('../src/img/book-bg.png') no-repeat left top;
  height: 100%;
}

.book-view .page-container {
  height: 35.7em;
  margin-top: 1.4em;
  position: relative;
  width: 25.4em;
}

.book-cover {
  background: none;
}

.book-cover .page-container {
  display: none;
}

.book-cover .cover-content {
  height: 32.9em;
}

.cover-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

.book-cover .cover-container img {
  position: absolute;
  top: 0;
}

/*=== Cover ===*/

.cover-container {
  height: 100%;
  display: none;
}

.book-cover .cover-container {
  display: block;
}

.book-cover .cover-content {
  margin: 0 auto;
  width: 25em;
}

/*=== Right Page ===*/

.book-view .right-page{
  /*background: rgba(0,255,0,0.4);*/
  float: right;
  margin-right: 3em;
  width: 25em;
}

.image-frame-container {
  bottom: 0;
  left: 50%;
  margin-left: -11em;
  position: absolute;
  overflow: auto;
}

.image-frame {
  position: absolute;
  top: 0;
}

.right-page .page-illustration {
  background: no-repeat left top;
  background-size: cover;
  height: 15.1em;
  margin: 1em 1em;
  width: 20.5em;
}

.right-page .page-content p {
  padding: 0 2em;
  font-size: 1.6em;
}

/*=== Left Page ===*/

.book-view .left-page{
  /*background: rgba(0,0,255,0.4);*/
  float : left;
  margin-left: 2.6em;
}

.left-page .page-content {
  padding: 1em;
}

.left-page .video-frame {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px gray;
  height: 19em;
  margin-top: 4em;
  padding: .5em;
}

.left-page .video-frame .video-controllers {
  background-color: #3c3366;
  border-radius: 10px;
  margin: 1em auto 0 auto;
  text-align: center;
  width: 70px;
}

.left-page .video-frame button {
  height: 20px;
  width: 20px;
}

.left-page .video-frame .play-button{
  background: url('../src/img/play-bt.png') no-repeat left top;
}

.left-page .video-frame .pause-button{
  background: url('../src/img/pause-bt.png') no-repeat left top;
}

.left-page .video-container {
  background: black;
  height:16.5em;
}

.overlay {
  position: absolute;
  top: 0;
}

.overlay-curtains {
  background-color: rgba(0,0,0,.5);
  bottom: 0;
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
}

.revealed-overlay {
  display: block;
}

.overlay-content {
  background: white;
  height: 20em;
  left: 50%;
  margin-left: -17.5em;
  margin-top: -10em;
  position: absolute;
  top: 50%;
  width: 35em;
}

.overlay-content .close-overlay-button {
  background: red;
  border-radius: .75em;
  color: white;
  font-weight: bold;
  height: 1.5em;
  right: .75em;
  position: absolute;
  text-indent: 0px;
  top: -.75em;
  width: 1.5em;
  z-index: 1;
}
